* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#executive {
    margin: auto;
    padding-top: 90px;
    width: 40%;
    margin-left: 6%
}

@media (max-width:975px) {
    #container {
        width: 100%;
        height: 70vh;
    }
}

#container {
    background-image: linear-gradient(to bottom, rgba(133, 110, 122, 0.563), rgba(30, 22, 69, 0.574)), url(/images2/Exec-class-scaled.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 10%;
    height: 80vh;
}

h1 {
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
}

#acquire {
    margin-top: 5px;
    font-family: sans-serif;
    color: white;
}

#button {
    margin-top: 10px;

}

#tt {
    width: 25%;
    height: 6vh;
    background: transparent;
    border: 2px solid white;
}

#button a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    margin-bottom: -20px;
}

#flex {
    display: flex;
    padding-top: 6%;
    gap: 30px;
    margin-left: 8%;
    width: 85%;
}

#sqi {
    color: rgb(116, 106, 135);
    width: 97%;
    word-spacing: 3px;
    line-height: 25px;
}

#sqik {
    color: rgb(116, 106, 135);
    word-spacing: 2px;
    line-height: 25px;
    width: 99%;
    margin-top: 3%;
}

#course {
    width: 60%;
}

#today {
    width: 40%;
}

#an {
    color: rgb(116, 106, 135);
    margin-top: 3%;
    word-spacing: 2px;
    line-height: 25px;
    width: 95%;
}

#course img {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.356);
}

#today img {
    border-radius: 10px;
    margin-top: 12%;
    box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.356);
}

@media (max-width:975.33px) {
    #flex {
        display: block;
        width: 85%;
    }

    #course {
        width: 100%;
    }

    #today {
        width: 100%;
    }

    #avail {
        display: block;
        width: 100%;
    }

    #archi {
        display: block;
    }

    #ui {
        display: block;
    }

    #fee {
        width: 100%;
    }

    #holder {
        width: 100%;
    }
}

/* @media (max-width:319.33px) {
    #flex{
        width: 85%;
    }
} */
#sec {
    background-color: rgb(0, 4, 66);
    height: 40vh;

    margin: auto;
}

/* @media (max-width:209.33px) {
    #sec{
        height: 70vh;
    }
 } */
@media (max-width:975.33px) {
    #sec {
        height: 50vh;
        /* display: block; */
    }

    #read {
        flex-direction: column;
        align-items: center;
    }

    #read button {
        display: block;
        margin-top: 5%;
        width: 150px;
        height: 50px;
    }
}

#read {
    display: flex;
    /* padding: auto; */
    margin-top: 8%;
    padding-top: 5%;
    padding-left: 9%;
    width: 90%;
    height: 40vh;
}

h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

#read button {
    background-color: rgb(255, 153, 0);
    width: 200px;
    height: 90px;
    border: none;
    border-radius: 5px;
    margin-left: 8%;
}

#read button a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#ui {
    border: 2px solid white;
    box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.075);
    background-color: rgba(245, 245, 245, 0.831);
    width: 40%;
    /* background-color: rgba(255, 255, 255, 0.048); */
    /* display: block; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

#archi {
    margin-left: 7%;
    margin-top: 3%;
}

#ux {
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 7px;
    line-height: 25px;
}

#avail {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

#ui img {
    box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.075);
    /* background-color: rgb(254, 254, 254); */
}

h3 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
}

#cour {
    display: flex;
    justify-content: space-around;
}

h4 {
    text-align: center;
    margin-top: 5%;
    color: rgb(0, 7, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#fee {
    /* border: 1px solid black; */
    width: 40%;
    height: 10vh;
}

#flex2 {
    /* width: 80%; */
    display: flex;
    margin-top: 5%;
    /* margin-left: 10%; */
    justify-content: space-evenly;
}

#hold {
    margin-top: 5%;

}

#holder {
    height: 10vh;
    width: 90%;
    padding-left: 5%;
    background-color: rgb(244, 244, 244);
    border: 1px solid rgba(0, 0, 0, 0.388);
    font-weight: 550;
    font-size: 1.1rem;
}

#ict {
    display: flex;
    list-style: none;
    /* margin-left: 7%; */
    /* width: 100%; */
    justify-content: space-evenly;
    /* gap: 20px; */
    margin-top: 3rem;
}

#ict1 {
    width: 13%;
}

#ict3 {
    width: 13%;
}

#ict4 {
    width: 13%;
}

#ict5 {
    width: 14%;
}

#ict1 li a {
    text-decoration: none;
}

#ict1 li {
    margin-top: 8%;
}

#ict2 li a {
    text-decoration: none;
    color: rgb(102, 103, 106);

}

#stu {
    margin-top: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#ict3 li {
    color: rgb(102, 103, 106);
}

#ict4 li {
    color: rgb(102, 103, 106);
}

#ict5 li {
    color: rgb(102, 103, 106);
}

#ict1 h5 {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 32, 138);
}

#app {
    margin-top: 25%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#edu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

#us {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#link {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

#old {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 24%;
    font-weight: 500;
}

#no {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 10%;
}

#loc {
    margin-top: 10%;
}

#loc a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lag {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20%;
}

#suite {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20%;
    font-weight: 500;
}

@media (max-width:975px) {
    #avail {
        display: block;
        /* flex-direction: column; */
        width: 100%;
    }

    #ui {
        width: 100%;
    }

    #flex2 {
        display: block;
        margin-left: 10%;
    }

    #fee {
        width: 100%;
    }

    #flex2 img {
        width: 90%;
    }

    #ict {
        display: grid;
        grid-template-columns: auto auto;
        /* justify-content: space-evenly; */
        margin-top: 20rem;
        margin-left: 6rem;
        /* width: 100%; */
    }

    #ict1 {
        width: 70%;
    }

    #ict3 {
        width: 35%;
    }

    #ict4 {
        width: 70%;
    }

    #ict5 {
        width: 60%;
    }

}
@media (max-width:456px) {
    #ict{
        display: block;
    }
}